# Node.js
/node_modules
npm-debug.log
yarn-error.log
*.tgz

# Docker
docker-compose.override.yml
.dockerignore

# Environment Variables
.env

# PM2 logs
pm2-logs/

# Logs and temporary files
*.log
*.swp

# System files
.DS_Store
Thumbs.db

